li {
  float: left;
}
a{
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  background-color: gray;
}
.sea {
  float: right;
  padding: 6px;
  padding-left: 20px;
  border: none;
  margin-top: 18px;
  margin-right: 16px;
  background-color: rgb(243, 236, 227);
  font-size: 17px;
}

ul{
  overflow: hidden;
  list-style: none;
  background-color: gray;
  position: sticky;
  top: 0;
  z-index: 100;
}
li a:hover {
  background-color: black;
}
h3{
  padding: 5px;
}
